{% load static %}

<!DOCTYPE html>
<html>
   
<head>
    <!--<link rel="stylesheet" href="style.css">-->
    <meta name="keywords" content="markets finance data stocks forex charts">
    <meta description="A site for those interested in viewing and analysing the data of financial markets">
    <script src="https://cdn.jsdelivr.net/npm/chart.js@3.2.1/dist/chart.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <link href="../static/css/style.css">
    <link href="{% static 'css/style.css' %}">
    <link href="style.css" rel="stylesheet">
    <title>Financial Market Data Visualiser</title>
</head>

    <nav>
        Nav placeholder
    </nav>

<body>

    <h1>Market Analysis</h1>

    {% block content %}
        <!-- Page specific content will be loaded here -->
    {% endblock content %}
      
    <footer>
        Footer placeholder
    </footer>

</body>

</html>