<!DOCTYPE html>
<html>
    <head>
        <!--<link rel="stylesheet" href="style.css">-->
        <script src="https://cdn.jsdelivr.net/npm/chart.js@3.2.1/dist/chart.min.js"></script>
        <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
        <title>Stock Visualizer</title>
    </head>
<body>


    <h2>
        This is a placeholder, baby!
    </h2>

    <div id="graph-area" style="height:80%; width:80%;">
        <canvas id="chart"></canvas>
    </div>

    <script>
        /* This is largely a copy of the script from the home.html, data is passed from the back end via the view (either 
        directly from the API call or the database if the data exists already), and is processed here in the JS script*/
        $(document).ready(function(){
            console.log("Early test")
            $.ajax({
                    type: "POST",
                    url: "/get_forex_data/",
                    data: {
                    'symbol': 'EURUSD',
                },
                success: function (res, status) {
                    console.log("Forex test within JS", res)
                    daily_data = res["prices"]["Time Series FX (Daily)"]
                    console.log("Forex 2nd test for usable data", daily_data)
                    daily_series = [];
                    dates = [];

                    daily_data_parse = function(){
                    for (let key in daily_data) {
                        console.log("key", key, typeof(key))
                        actual = parseFloat(daily_data[key]["4. close"])
                        daily_series.push(actual);
                        dates.push(String(key))
                    }

                    };
                    daily_data_parse();

                    console.log("Complete data", daily_series)
                    console.log("DATES", dates)
                    
                    var ctx = document.getElementById('chart').getContext('2d');
                    ctx.canvas.width = 800;
                    ctx.canvas.height = 400;
                    var chart = new Chart(ctx, {
                    type: 'line',
                        data: {
                            labels: dates,
                            datasets: [{
                                label: 'Daily Close Price',
                                data: daily_series,
                                backgroundColor: [
                                    'green',
                                ],
                                borderColor: [
                                    'green',
                                ],
                                borderWidth: 1
                            }]
                        },
                    });
                }
            })
        })

    </script>

    <div>

    </div>
</body>

</html>