{% extends "base.html" %}
{% block content %}

<h2>
    I am the forex page
</h2>

<br>
    
    <label for="fx-pair-input">Enter Symbol:</label>
    <input type="text" id="fx-pair-input">
    <input type="button" value="submit" id="fx-pair-submit-btn">
    <br>

    <br>

    <div>
        <label for="fx-high-request-btn">Show High and Low Prices</label>
        <input type="button" value="Show" id="fx-high-request-btn"> 
    </div>
    <div>
        <span id="high" style="height: auto;"></span>
        <br>
        <span id="low" style="height: auto;"></span>
    </div>


<div id="graph-area" style="height:80%; width:80%;">
    <canvas id="chart"></canvas>
</div>

    <script>
        /* This is largely a copy of the script from the home.html, data is passed from the back end via the view (either 
        directly from the API call or the database if the data exists already), and is processed here in the JS script*/
        $(document).ready(function(){
            console.log("Early test")
            $.ajax({
                    type: "POST",
                    url: "/get_forex_data/",
                    data: {
                    'symbol': 'EURUSD',
                },
                success: function (res, status) {
                    console.log("Forex test within JS", res)
                    daily_data = res["prices"]["Time Series FX (Daily)"]
                    console.log("Forex 2nd test for usable data", daily_data)
                    daily_close_series = [];
                    daily_open_series = [];
                    dates = [];

                    daily_data_parse = function(){
                    for (let key in daily_data) {
                        actual = parseFloat(daily_data[key]["4. close"])
                        open = parseFloat(daily_data[key]["1. open"])
                        daily_close_series.push(actual)
                        daily_open_series.push(open)
                        dates.push(String(key))
                    }

                    };
                    daily_data_parse();

                    daily_close_series.reverse()
                    daily_open_series.reverse()
                    dates.reverse()
                    
                    var ctx = document.getElementById('chart').getContext('2d');
                    ctx.canvas.width = 800;
                    ctx.canvas.height = 400;
                    var chart = new Chart(ctx, {
                    type: 'line',
                        data: {
                            labels: dates,
                            datasets: [
                                {
                                label: 'Daily Close Price',
                                data: daily_close_series,
                                backgroundColor: [
                                    'red',
                                ],
                                borderColor: [
                                    'red',
                                ],
                                borderWidth: 1
                            },
                            {
                                label: 'Open Price',
                                data: daily_open_series,
                                backgroundColor: [
                                    'blue',
                                ],
                                borderColor: [
                                    'blue',
                                ],
                                borderWidth: 1
                            },
                        ]
                        },
                    });
                }
            })
        })

        /* This section controls what happens when submit is clicked from the forex chart page */
        
        $('#fx-pair-submit-btn').click(function() {
            // when the user specifies a new ticker, we call the Django backend to get the forex data and refresh the graph. 
            // obtain the symbol string from the input textbox
            console.log("first from submit")
            var symbol = $('#fx-pair-input').val();
            console.log("symbol test from submit", symbol)
            $.ajax({
                  type: "POST",
                  url: "/get_forex_data/",
                  data: {
                     'symbol': symbol,
                  },
                  success: function (res, status) {
                    console.log("Forex test within JS", res)
                    daily_data = res["prices"]["Time Series FX (Daily)"]
                    console.log("Forex 2nd test for usable data", daily_data)
                    daily_close_series = [];
                    daily_open_series = [];
                    dates = [];

                    var symbol = res['prices']['Meta Data']['2: From Symbol'];
                    console.log("later symbol test", symbol)

                    daily_data_parse = function(){
                    for (let key in daily_data) {
                        actual = parseFloat(daily_data[key]["4. close"])
                        open = parseFloat(daily_data[key]["1. open"])
                        daily_close_series.push(actual)
                        daily_open_series.push(open)
                        dates.push(String(key))
                    }

                    };
                    daily_data_parse();

                    daily_close_series.reverse()
                    daily_open_series.reverse()
                    dates.reverse()

                    $('#chart').remove(); // this is my <canvas> element
                    $('#graph-area').append('<canvas id="chart"><canvas>');
                    
                    var ctx = document.getElementById('chart').getContext('2d');
                    ctx.canvas.width = 800;
                    ctx.canvas.height = 400;
                    var chart = new Chart(ctx, {
                    type: 'line',
                        data: {
                            labels: dates,
                            datasets: [
                                {
                                label: 'Daily Close Price',
                                data: daily_close_series,
                                backgroundColor: [
                                    'red',
                                ],
                                borderColor: [
                                    'red',
                                ],
                                borderWidth: 1
                            },
                            {
                                label: 'Open Price',
                                data: daily_open_series,
                                backgroundColor: [
                                    'blue',
                                ],
                                borderColor: [
                                    'blue',
                                ],
                                borderWidth: 1
                            },
                        ]
                        },
                    });
                }
            });
        });
        

        /* Below is experiement to see what can be done with JS to get high/low prices */
        $('#fx-high-request-btn').click(function() {
            console.log("button working")
            $.ajax({
                  type: "POST",
                  url: "/get_forex_data/",
                  data: {
                     'symbol': 'EURUSD',
                  },
                  success: function (res, status) {
                    console.log("Forex test within JS", res)
                    daily_data = res["prices"]["Time Series FX (Daily)"]
                    console.log("Forex 2nd test for usable data", daily_data)
                    daily_close_series = [];
                    daily_open_series = [];
                    dates = [];

                    daily_data_parse = function(){
                    for (let key in daily_data) {
                        actual = parseFloat(daily_data[key]["4. close"])
                        open = parseFloat(daily_data[key]["1. open"])
                        daily_close_series.push(actual)
                        daily_open_series.push(open)
                        dates.push(String(key))
                    }

                    };
                    daily_data_parse();

                    high = Math.max.apply(Math, daily_close_series)
                    low = Math.min.apply(Math, daily_close_series)

                    high_index = daily_close_series.indexOf(high)
                    low_index = daily_close_series.indexOf(low)
                    high_date = dates[high_index]
                    low_date = dates[low_index]

                    console.log("high price", high)
                    console.log("low price", low)
                    console.log("Dates test", high_date, low_date)

                    document.getElementById("high").innerHTML = high + "  " + high_date
                    document.getElementById("low").innerHTML = low + "  " + low_date

                    section = daily_close_series.slice(30)

                    close_high = Math.max.apply(Math, section)
                    console.log("2nd low", close_high)
                    max_point = daily_close_series.indexOf(close_high)
                    console.log(max_point)
                    console.log(dates[max_point])
                  }
            })
        })

</script>



{% endblock %}