{% extends "base.html" %}
{% block content %}

<h2>
    I am the forex page
</h2>

<div id="graph-area" style="height:80%; width:80%;">
    <canvas id="chart"></canvas>
</div>

    <script>
        /* This is largely a copy of the script from the home.html, data is passed from the back end via the view (either 
        directly from the API call or the database if the data exists already), and is processed here in the JS script*/
        $(document).ready(function(){
            console.log("Early test")
            $.ajax({
                    type: "POST",
                    url: "/get_forex_data/",
                    data: {
                    'symbol': 'EURUSD',
                },
                success: function (res, status) {
                    console.log("Forex test within JS", res)
                    daily_data = res["prices"]["Time Series FX (Daily)"]
                    console.log("Forex 2nd test for usable data", daily_data)
                    daily_close_series = [];
                    daily_open_series = [];
                    dates = [];

                    daily_data_parse = function(){
                    for (let key in daily_data) {
                        actual = parseFloat(daily_data[key]["4. close"])
                        open = parseFloat(daily_data[key]["1. open"])
                        daily_close_series.push(actual)
                        daily_open_series.push(open)
                        dates.push(String(key))
                    }

                    };
                    daily_data_parse();

                    daily_close_series.reverse()
                    daily_open_series.reverse()
                    dates.reverse()
                    
                    var ctx = document.getElementById('chart').getContext('2d');
                    ctx.canvas.width = 800;
                    ctx.canvas.height = 400;
                    var chart = new Chart(ctx, {
                    type: 'line',
                        data: {
                            labels: dates,
                            datasets: [
                                {
                                label: 'Daily Close Price',
                                data: daily_close_series,
                                backgroundColor: [
                                    'red',
                                ],
                                borderColor: [
                                    'red',
                                ],
                                borderWidth: 1
                            },
                            {
                                label: 'Open Price',
                                data: daily_open_series,
                                backgroundColor: [
                                    'blue',
                                ],
                                borderColor: [
                                    'blue',
                                ],
                                borderWidth: 1
                            },
                        ]
                        },
                    });
                }
            })
        })

</script>

{% endblock %}